*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.dl2{
  background-color: #e8e8e8;
  width: 100%;
  margin-top: 20px;
}
.smi img{
  width: 55px;
  height: 40px;
  cursor: pointer;
}
.lastpara{
  cursor: pointer;
}
.social-icons{
  justify-content:space-between ;
}